
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Style/ContainerTC.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Document</title>
</head>


<div class="container">
    <div style="display:flex ;">
        <div class="container-items">
            <img class="container-item-img" src="~/Content/Image/car.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Nissan Z</h5>
                    <h5 class="price"> 50000 VNĐ </h5>
                </div>
                <p>Với doanh số hơn 3.000 xe bán ra, Honda City đã vượt qua nhiều đối thủ sừng sỏ để dẫn đầu Top 10 xe bán chạy nhất</p>
                <div style="display:flex;">
                    <button class="btn-add">Thêm giỏ hàng</button>
                    <button class="btn-add">Xem chi tiết</button>
                </div>
            </div>
        </div>
        <div class="container-items">
            <img class="container-item-img" src="~/Content/Image/car.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Nissan Z</h5>
                    <h5 class="price"> 50000 VNĐ </h5>
                </div>
                <p>Với doanh số hơn 3.000 xe bán ra, Honda City đã vượt qua nhiều đối thủ sừng sỏ để dẫn đầu Top 10 xe bán chạy nhất</p>
                <div style="display:flex ;">
                    <button class="btn-add">Thêm giỏ hàng</button>
                    <button class="btn-add">Xem chi tiết</button>
                </div>
            </div>
        </div>
        <div class="container-items">
            <img class="container-item-img" src="~/Content/Image/car.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Nissan Z</h5>
                    <h5 class="price"> 50000 VNĐ </h5>
                </div>
                <p>Với doanh số hơn 3.000 xe bán ra, Honda City đã vượt qua nhiều đối thủ sừng sỏ để dẫn đầu Top 10 xe bán chạy nhất</p>
                <div style="display:flex ;">
                    <button class="btn-add">Thêm giỏ hàng</button>
                    <button class="btn-add">Xem chi tiết</button>
                </div>
            </div>
        </div>
    </div>

    <div style="display:flex ; margin-top: 20px;">
        <div class="container-items">
            <img class="container-item-img" src="~/Content/Image/car.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Nissan Z</h5>
                    <h5 class="price"> 50000 VNĐ </h5>
                </div>
                <p>Với doanh số hơn 3.000 xe bán ra, Honda City đã vượt qua nhiều đối thủ sừng sỏ để dẫn đầu Top 10 xe bán chạy nhất</p>
                <div style="display:flex ;">
                    <button class="btn-add">Thêm giỏ hàng</button>
                    <button class="btn-add">Xem chi tiết</button>
                </div>
            </div>
        </div>
        <div class="container-items">
            <img class="container-item-img" src="~/Content/Image/car.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Nissan Z</h5>
                    <h5 class="price"> 50000 VNĐ </h5>
                </div>
                <p>Với doanh số hơn 3.000 xe bán ra, Honda City đã vượt qua nhiều đối thủ sừng sỏ để dẫn đầu Top 10 xe bán chạy nhất</p>
                <div style="display:flex ;">
                    <button class="btn-add">Thêm giỏ hàng</button>
                    <button class="btn-add">Xem chi tiết</button>
                </div>
            </div>
        </div>
        <div class="container-items">
            <img class="container-item-img" src="~/Content/Image/car.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Nissan Z</h5>
                    <h5 class="price"> 50000 VNĐ </h5>
                </div>
                <p>Với doanh số hơn 3.000 xe bán ra, Honda City đã vượt qua nhiều đối thủ sừng sỏ để dẫn đầu Top 10 xe bán chạy nhất</p>
                <div style="display:flex ;">
                    <button class="btn-add">Thêm giỏ hàng</button>
                    <button class="btn-add">Xem chi tiết</button>
                </div>
            </div>
        </div>
    </div>

    <div style="display:flex ; margin-top: 20px;">
        <div class="container-items">
            <img class="container-item-img" src="~/Content/Image/car.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Nissan Z</h5>
                    <h5 class="price"> 50000 VNĐ </h5>
                </div>
                <p>Với doanh số hơn 3.000 xe bán ra, Honda City đã vượt qua nhiều đối thủ sừng sỏ để dẫn đầu Top 10 xe bán chạy nhất</p>
                <div style="display:flex ;">
                    <button class="btn-add">Thêm giỏ hàng</button>
                    <button class="btn-add">Xem chi tiết</button>
                </div>
            </div>
        </div>
        <div class="container-items">
            <img class="container-item-img" src="~/Content/Image/car.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Nissan Z</h5>
                    <h5 class="price"> 50000 VNĐ </h5>
                </div>
                <p>Với doanh số hơn 3.000 xe bán ra, Honda City đã vượt qua nhiều đối thủ sừng sỏ để dẫn đầu Top 10 xe bán chạy nhất</p>
                <div style="display:flex ;">
                    <button class="btn-add">Thêm giỏ hàng</button>
                    <button class="btn-add">Xem chi tiết</button>
                </div>
            </div>
        </div>
        <div class="container-items">
            <img class="container-item-img" src="~/Content/Image/car.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Nissan Z</h5>
                    <h5 class="price"> 50000 VNĐ </h5>
                </div>
                <p>Với doanh số hơn 3.000 xe bán ra, Honda City đã vượt qua nhiều đối thủ sừng sỏ để dẫn đầu Top 10 xe bán chạy nhất</p>
                <div style="display:flex ;">
                    <button class="btn-add">Thêm giỏ hàng</button>
                    <button class="btn-add">Xem chi tiết</button>
                </div>
            </div>
        </div>
    </div>
</div>
