
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Content/Style/News/News.css" rel="stylesheet" />
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- header -->

    <main>
        <section class="main-container-left">
            <h2>Tin hàng đầu</h2>
            <div class="container-top-left">
                <article>
                    <img src="~/Content/Image/car.jpg">
                    <div>
                        <h3>Có trong tay 500-700 triệu nên mua ô tô nào?</h3>

                        <p>Tính đến thời điểm hiện tại năm 2022, thị trường ô tô Việt Nam đang hoạt động rất sôi nổi với sự đa dạng về mẫu mã, kiểu dáng, giá bán</p>

                        <a href="#">Đọc tiếp <span>>></span></a>
                    </div>
                </article>
            </div>

            <div class="container-bottom-left">
                <article>
                    <img src="~/Content/Image/car.jpg">
                    <div>
                        <h3>Best smart speakers for the year</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi iure modi animi cupiditate. Explicabo, nihil?</p>

                        <a href="#">Đọc tiếp <span>>></span></a>
                    </div>
                </article>

                <article>
                    <img src="~/Content/Image/car.jpg">
                    <div>
                        <h3>iPad Pro, reviewed: Has the iPad become my main computer now?</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi iure modi animi cupiditate. Explicabo, nihil?</p>

                        <a href="#">Đọc tiếp <span>>></span></a>
                    </div>
                </article>
            </div>
        </section>

        <section class="main-container-right">
            <h2>Tin mới nhất</h2>

            <article>
                <img src="~/Content/Image/car.jpg">
                <div>
                    <h2>Giá xăng tăng chóng mặt, nên mua ô tô xăng hay điện?</h2>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>

                    <a href="#">Đọc tiếp <span>>></span></a>
                </div>

            </article>

            <article>
                <img src="~/Content/Image/car.jpg">
                <div>
                    <h2>Điểm danh những mẫu ô tô giá rẻ vừa ra mắt khách hàng Việt</h2>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>

                    <a href="#">Đọc tiếp <span>>></span></a>
                </div>
            </article>

            <article>
                <img src="~/Content/Image/car.jpg">
                <div>
                    <h2>Điểm danh những mẫu ô tô giá rẻ vừa ra mắt khách hàng Việt</h2>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>

                    <a href="#">Đọc tiếp <span>>></span></a>
                </div>

            </article>

            <article>
                <img src="~/Content/Image/car.jpg">
                <div>
                    <h2>Điểm danh những mẫu ô tô giá rẻ vừa ra mắt khách hàng Việt</h2>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>

                    <a href="#">Đọc tiếp <span>>></span></a>
                </div>
            </article>

            <article>
                <img src="~/Content/Image/car.jpg">
                <div>
                    <h2>Điểm danh những mẫu ô tô giá rẻ vừa ra mắt khách hàng Việt</h2>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>

                    <a href="#">Đọc tiếp <span>>></span></a>
                </div>
            </article>
        </section>
    </main>
</body>
</html>
