
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="~/Content/Style/Style1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>
<body>
    <footer>
        <div class="content">
            <div class="left box">
                <div class="upper">
                    <div class="topic">Về chúng tôi</div>
                    <p>Đây được xác định là một trong những sản phẩm chiến lược của Xe Tốt ngay từ khi hình thành và phát triển. Khách hàng có thể đăng tin bán xe máy, ô tô, xe tải mới và xe ô tô đã qua sử dụng chính chủ trên website.</p>
                </div>
                <div class="lower">
                    <div class="topic"> Liên hệ</div>
                    <div class="phone">
                        <a href="#"><i class="fas fa-phone-volume"></i>0909xxxxxx</a>
                    </div>
                    <div class="email">
                        <a href="#"><i class="fas fa-envelope"></i>abc@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="middle box">
                <div class="topic">Dịch vụ</div>
                <div><a href="#">Xe siêu đẹp</a></div>
                <div><a href="#">Xe siêu đẹp</a></div>
                <div><a href="#">Xe siêu đẹp</a></div>
                <div><a href="#">Xe siêu đẹp</a></div>
                <div><a href="#">Xe siêu đẹp</a></div>
                <div><a href="#">Xe siêu đẹp</a></div>
            </div>
            <div class="right box">
                <div class="topic">NDTGroup</div>
                <form action="#">
                    <input type="text" placeholder="Enter email address">
                    <input type="submit" name="" value="Send">
                    <div class="media-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </form>
            </div>
        </div>
        <div class="bottom">
            <p>Copyright © 2022 <a href="#">NDTGroup</a> Degisn by All</p>
        </div>
    </footer>

</body>
</html>


